<div class="center hero-unit">
  <h1>Welcome to NYC Restaurants <h1>

  <%= link_to "Sign up now!", new_owner_session_path, class: "btn btn-large btn-primary" %>
  <%= link_to "Show Restaurants", 'rests', class: "btn btn-large btn-primary" %>
</div>

